.footer {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 91px;
  background: #282828;
  padding: 16px;
  width: 100%;
  min-width: 768px;
  grid-column: 1/3;
  box-sizing: border-box;
  border-top: 1px solid #000;
}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
  min-width: 180px;
}

.footer__albumLogo {
  height: 56px;
  width: 56px;
  margin-right: 14px;
  object-fit: contain;
}

.footer__songInfo > h4 {
  font-size: 13px;
  margin-bottom: 3px;
}

.footer__songInfo > p {
  font-size: 11px;
  color: #b3b3b3;
  font-weight: 500;
}

.footer__center {
  flex: 0.4;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  max-width: 722px;
  padding: 0 8px;
}

.footer__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 224px;
  margin-bottom: 2px;
}

.footer__playback {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__playback > .MuiGrid-root {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 400 !important;
}

.footer__playback > .MuiGrid-root * .MuiSlider-root {
  color: #1ed15e;
}

.footer__icon,
.footer__iconScale {
  color: #b3b3b3;
}

.footer__icon:hover {
  color: white;
}

.footer__iconScale:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
  color: white;
}

.footer__right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  min-width: 180px;
}

.footer__right > .MuiGrid-root {
  width: 180px;
}

.footer__right * .MuiSlider-root {
  color: #1ed15e;
}
